# Setting 1

In [1]:
# setting
n = 20
size = 1
p = 0.9
theta = 0
fromZ = rbinom(n, size, p)

### use the law of large numbers: 
using many runs of the simulation will give us something close to the mse

In [2]:
runs = 1000 
set.seed(1)
theta_hat_1s = rep(NA, runs)
theta_hat_2s = rep(NA, runs)
theta_hat_3s = rep(NA, runs)
for (r in 1:runs){
    fromZ = rbinom(n, size, p)
    sample = fromZ*rnorm(n, mean=theta, sd=1) + (fromZ == FALSE)*rnorm(n, mean=theta, sd=10)
    # estimators
    theta_hat1 = mean(sample)
    theta_hat2 = median(sample)
    theta_hat3 = (min(sample)+max(sample))/2
    # save values
    theta_hat_1s[r] = theta_hat1
    theta_hat_2s[r] = theta_hat2
    theta_hat_3s[r] = theta_hat3
}

#calculate performance measure
MSE1 = mean((theta_hat_1s-theta)^2)
MSE2 = mean((theta_hat_2s-theta)^2)
MSE3 = mean((theta_hat_3s-theta)^2)

MSE1; MSE2; MSE3

var1 = var(theta_hat_1s)
var2 = var(theta_hat_2s)
var3 = var(theta_hat_3s)

var1; var2; var3 # unbiased since var and mse similar

[1] 0.564655

[1] 0.08744745

[1] 20.17913

[1] 0.5649027

[1] 0.08753462

[1] 20.18283

# Setting 2

In [3]:
# setting p = 1 for just standard normal
n = 20
size = 1
prob = c(1, 0.9)
theta = 0
fromZ = rbinom(n, size, p)

### use the law of large numbers: 
using many runs of the simulation will give us something close to the mse

In [4]:
# data storage
results = data.frame("p1.MSE"=rep(NA,3), "p1.Var"=rep(NA,3), "p 0.9.MSE"=rep(NA,3), "p0.9.Var"=rep(NA,3),
        row.names=c("mean", "median", "min max average"))

In [5]:
results

                p1.MSE p1.Var p.0.9.MSE p0.9.Var
mean            NA     NA     NA        NA
median          NA     NA     NA        NA
min max average NA     NA     NA        NA

In [6]:
runs = 1000 
set.seed(1)
# data storage
results = data.frame("p1.MSE"=rep(NA,3), "p1.Var"=rep(NA,3), "p 0.9.MSE"=rep(NA,3), "p0.9.Var"=rep(NA,3),
        row.names=c("mean", "median", "min max average"))

for (i in 1:length(prob)){
    theta_hat_1s = rep(NA, runs)
    theta_hat_2s = rep(NA, runs)
    theta_hat_3s = rep(NA, runs)
    p = prob[i]
    for (r in 1:runs){
        fromZ = rbinom(n, size, p)
        sample = fromZ*rnorm(n, mean=theta, sd=1) + (fromZ == FALSE)*rnorm(n, mean=theta, sd=10)
        # estimators
        theta_hat1 = mean(sample)
        theta_hat2 = median(sample)
        theta_hat3 = (min(sample)+max(sample))/2
        # save values
        theta_hat_1s[r] = theta_hat1
        theta_hat_2s[r] = theta_hat2
        theta_hat_3s[r] = theta_hat3
    }
    #store mse
    MSE_col = (2*i)-1
    results[1, MSE_col] = mean((theta_hat_1s-theta)^2)
    results[2, MSE_col] = mean((theta_hat_2s-theta)^2)
    results[3, MSE_col] = mean((theta_hat_3s-theta)^2)
    #store var
    var_col = 2*i
    results[1, var_col] = var(theta_hat_1s)
    results[2, var_col] = var(theta_hat_2s)
    results[3, var_col] = var(theta_hat_3s)
}

results

                p1.MSE     p1.Var     p.0.9.MSE   p0.9.Var
mean            0.04697557 0.04702178  0.56874010  0.56930939
median          0.06761610 0.06768364  0.09177966  0.09187153
min max average 0.14366948 0.14375767 20.84343423 20.86197366

# K-trimmed mean

can replace median and mean with this above

In [29]:
kTrimmedMean = function(x,k){
    print(x)
    print(sort(x)[k+1: length(x)-k])
    return(mean(sort(x)[k+1: length(x)-k]))
}

In [31]:
test = 1:9
kTrimmedMean(test,0)

[1] 13  4  5
[1]  4  5 13

[1] 7.333333

# Class activity

create a function and compare to the 1-trimmed mean

In [24]:
mean_sqr = function(x){
    x_sqr = x*x
    x_sqr_sum = sum(x_sqr)
    return(x_sqr_sum/(length(x)^2))
}

In [27]:
# test estimator with 1 trimmed mean

n = 20
size = 1
p = 0.9
theta = 0

ns = c(20,50,100,1000)

In [28]:
runs = 1000 
set.seed(1)
# data storage
results = data.frame("n20.MSE"=rep(NA,2), "n20.Var"=rep(NA,2),"n50.MSE"=rep(NA,2), "n50.Var"=rep(NA,2),"n100.MSE"=rep(NA,2), "n100.Var"=rep(NA,2),
        "n1000.MSE"=rep(NA,2), "n1000.Var"=rep(NA,2),
        row.names=c("1-trimmed mean", "squared mean"))

theta_hat_1s = rep(NA, runs)
theta_hat_2s = rep(NA, runs)
for (i in 1:length(ns)){
    n = ns[i]
    for (r in 1:runs){
        fromZ = rbinom(n, size, p)
        sample = fromZ*rnorm(n, mean=theta, sd=1) + (fromZ == FALSE)*rnorm(n, mean=theta, sd=10)
        # estimators
        theta_hat1 = kTrimmedMean(sample,1)
        theta_hat2 = mean_sqr(sample)
        theta_hat_1s[r] = theta_hat1
        theta_hat_2s[r] = theta_hat2
    }
    #store mse
    MSE_col = (2*i)-1
    var_col = (2*i)
    results[1, MSE_col] = mean((theta_hat_1s-theta)^2)
    results[2, MSE_col] = mean((theta_hat_2s-theta)^2)
    #store var
    var_col = 2*i
    results[1, var_col] = var(theta_hat_1s)
    results[2, var_col] = var(theta_hat_2s)
}



results

               n20.MSE   n20.Var   n50.MSE    n50.Var    n100.MSE   n100.Var
1-trimmed mean 0.5646550 0.5649027 0.20179266 0.20198602 0.11498183 0.115088580
squared mean   0.6618364 0.3574117 0.06377815 0.01985799 0.01519406 0.003110484
               n1000.MSE   n1000.Var
1-trimmed mean 0.010826412 1.081885e-02
squared mean   0.000120339 2.919710e-06

Ours performs well on the standard normal but not on the mixture - outliers have a large impact

As n increases, the numerator is bounded and so it coverges to 0 faster